/*font-family: 'Lato', sans-serif;*/

* {
    padding: 0;
    margin: 0;
}

.wrap {
    max-width: 1366px;
    margin: 0 auto;
    background-color: #f1f1f1;
    font: 400 20px 'Lato', sans-serif;
}

.aside {
    width: 314px;
    background-color: #293744;
}

.title {
    text-transform: uppercase;
    color: #bed1e4;
    line-height: 57px;
    background-color: #33414e;
    padding-left: 30px;
}

.nav,
.subnav {
    list-style-type: none;
}

.nav li {

}

.nav > li > a {
    display: block;
    padding: 21px 0 21px 80px;
    text-decoration: none;
    color: #ededec;
    border-left: 8px solid transparent; /*делаем прозрачный чтобы текст не дергался при наведении*/
    background-color: #33414e;
    position: relative;
    cursor: pointer;
}

.nav > li > a::before {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute; /*todo если здесь absolute тогда для ссылки надо relative - чтобы позиционировать относительно ссылки*/
    left: 25px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

/*todo ниже правильнее задать через классы*/
/*.nav > li:nth-of-type(1) > a::before {
    background-image: url("../img/speedometer_24.png");
}*/
.nav > li .dash::before {
    background-image: url("../img/speedometer_24.png");
}

/*.nav > li:nth-of-type(2) > a::before {
    background-image: url("../img/desktop-monitor_24.png");
}*/
.nav > li .lay::before {
    background-image: url("../img/desktop-monitor_24.png");
}

/*.nav > li:nth-of-type(3) > a::before {
    background-image: url("../img/folder_24.png");
}*/
.nav > li .page::before {
    background-image: url("../img/folder_24.png");
}

.nav > li > a::after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute; /*todo если здесь absolute тогда для ссылки надо relative - чтобы позиционировать относительно ссылки*/
    right: 23px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-image: url("../img/right-chevron_16.png");
}

/*------------------------------------------------------------------*/
.subnav {
    /*display: none;*/ /*todo первый вариант сокрытия подменю*/
}

.subnav li {
    height: 0px; /*todo второй вариант сокрытия подменю*/
    overflow: hidden; /*todo второй вариант сокрытия подменю - скрыть все что не влазиет*/
    transition: height 0.3s;
}

.subnav a {
    display: block;
    padding: 21px 0 21px 115px;
    text-decoration: none;
    color: #ededec;
    background-color: #293744;
    position: relative;
    cursor: pointer;
}

.subnav a::before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: 86px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    border: 3px solid transparent;
    border-radius: 50%; /*чтобы получить круг*/
}

.subnav > li:nth-of-type(1) > a::before {
    border-color: #85c875;
}

.subnav > li:nth-of-type(2) > a::before {
    border-color: #0bc4df;
}

.subnav > li:nth-of-type(3) > a::before {
    border-color: #f1a80a;
}

/*.nav > li:hover > .subnav { !*todo открытие подменю при наведении, лучше сделать при помощи клика т.е. javascripta*!
    display: block;
}*/

.nav > li > .active + .subnav {
    /*display: block;*//*todo первый вариант сокрытия подменю*/
}

.nav > li > .active + .subnav li {
    height: 67px; /*todo второй вариант сокрытия подменю*/
}

.nav .active {
    border-color: #85c875;
    background-color: #253348;
}

.nav > li > .active::after { /*смена изображения шеврона*/
    /*background-image: url("../img/down-chevron_16.png");*/ /*todo первый вариант*/

    transform: rotate(90deg); /*todo второй вариант*/
    transition: transform 0.3s;
}






















