.b-b {
    background-color: black;
}

.b-r {
    background-color: red;
}

.b-y {
    background-color: yellow;
}

.b-g {
    background-color: green;
}

.b-w {
    background-color: white;
}

.b-o {
    background-color: orange;
}